LABEL daemonos
TEXT HELP
Boot the DaemonOS live desktop on BIOS.
ENDTEXT
MENU LABEL DaemonOS Live Desktop (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID%

# Accessibility boot option
LABEL daemonos-speech
TEXT HELP
Boot the DaemonOS live desktop on BIOS with speakup screen reader.
ENDTEXT
MENU LABEL DaemonOS Live Desktop (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
